*,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/*NAVIGATION*/

.logo {
    font-size: 2.5em;
    color: black;
    letter-spacing: 8px;
    text-shadow: 2px 2px 4px #646464;
}

.navBar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.menu li {
    display: inline;
    transition: background-color 0.3s, transform 0.2s;
    padding: 5px 10px;
    color: grey;
}

.menu li:hover {
    cursor: pointer;
    border-bottom: 1px solid grey;
    transform: scale(1.1);
}

.menu li a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

.menu li a:hover {
    color: grey;
}

/*SECTION*/

.section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* PROFILE */
#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 80vh;
}

.profile-image {
    width: 450px;
    height: 450px;
    border-radius: 100%;
}

.profile-image img {
    width: 450px;
    height: 450px;
    border-radius: 100%;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-button {
    display: flex;
    gap: 2em;
}

.profile-button button:hover {
    cursor: pointer;
    opacity: .6;
    transition: all .3s;
}

.profile-button button {
    padding: 15px 20px;
    font-size: 1.1em;
    border-radius: 40px;
    font-weight: 600;
    border: 2px solid black;
    min-width: 17vh;
}

.profile-button button a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.profile-icon {
    display: flex;
    gap: 2em;
}

.profile-icon img:hover {
    cursor: pointer;
    opacity: .6;
    transition: all .3s;
}

/* ABOUT */
#about {
    position: relative;
}

#about p {
    font-size: 1em;
    color: grey;
    text-align: center;
}

#about h1 {
    font-size: 3em;
    padding-top: 4vh;
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 4rem; */
    height: 80vh;
}

.about-container-left {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: justify;
}

.about-container-left p {
    text-align: left !important;
    font-size: 1.5em !important;
    color: #333 !important;
    line-height: 1.5 !important;
}

.about-container-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-container-right-box {
    width: 50vh;
    height: 25vh;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.about-container-right-box h3 {
    font-size: 1.7em !important;
    color: black;
}

.about-container-right-box p {
    line-height: 1.5 !important;
    font-size: 1.1em !important;
}

.about-container-right-box button {
    padding: 10px;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
}

.about-container-right-box button:hover {
    cursor: pointer;
    opacity: .5;
    color: grey;
    border-bottom: 2px solid grey;
}

.about-container-right-box button a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.1em;
}


/*SKILLS*/

#skills {
    position: relative;
}

#skills p {
    font-size: 1em;
    color: grey;
    text-align: center;
}

#skills h1 {
    font-size: 3em;
    padding-top: 4vh;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 4rem;
}

.skills-container-box {
    width: 100%;
    height: 50vh;
    /* border: 1px solid black; */
    padding: 25px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.skills-container-box p {
    font-size: 1.8em !important;
    font-weight: 600 !important;
    letter-spacing: 0.1em !important;
}

.skills-container-box img {
    margin-right: 20px !important;
}

.skills-container-box-content {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
}

.skills-container-box-content h2 {
    color: black !important;
    font-size: 1.5em !important;
}

.skills-container-box-content p {
    color: grey !important;
    font-size: 1.2em !important;
}

/*PROJECTS*/
#projects p {
    font-size: 1em;
    color: grey;
    text-align: center;
}

#projects h1 {
    font-size: 3em;
    padding-top: 4vh;
    text-align: center;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 2rem;
}

.project-container-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    width: 50vh;
    min-height: 55vh;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.project-container-box:hover {
    background-color: rgba(128, 128, 128, 0.109);
    background-image: linear-gradient(rgba(24, 23, 23, 0.777), rgba(128, 128, 128, 0));
    transition: all .3s;
    box-shadow: rgba(0, 0, 0, 0.565) 1.95px 1.95px 2.6px;
}

.project-container-box img {
    width: 100%;
    height: 300px;
    border-radius: 40px;
}

.project-container-box-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-container-box-button button {
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 1em;
}

.project-container-box-button button:hover {
    cursor: pointer;
    background-color: rgba(24, 23, 23, 0.777);
    color: white;
    transition: all .3s;
    border: none;
}

.project-container-box h2 {
    font-size: 1.8em;
}

#projects {
    position: relative;
}

/*CONTACT*/
#contact p {
    font-size: 1em;
    color: grey;
    text-align: center;
}

#contact h1 {
    font-size: 3em;
    padding-top: 4vh;
    text-align: center;
}

#contact .menu {
    justify-content: center;
    margin-bottom: 50px;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 250px 400px 250px 400px;
    padding: 40px;
    gap: 5rem;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.055);
    box-shadow: rgba(0, 0, 0, 0.504) 1.95px 1.95px 2.6px;
}

.contact-container p {
    font-size: 1.4em !important;
    margin-left: 15px !important;
}

.contact-linkedIn-content {
    cursor: pointer;
}

.contact-linkedIn-content:hover {
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    transition: all .3s;
}